<mat-nav-list>
  <a mat-list-item routerLink="/add" (click)="onSidenavClose()">
    <mat-icon>add_box</mat-icon>
    <span class="nav-caption">Status hinzufügen</span>
  </a>
  <a mat-list-item routerLink="/get" (click)="onSidenavClose()">
    <mat-icon>visibility</mat-icon>
    <span class="nav-caption">Status abfragen</span>
  </a>
  <a mat-list-item routerLink="/delete" (click)="onSidenavClose()">
    <mat-icon>delete</mat-icon>
    <span class="nav-caption">Status löschen</span>
  </a>
</mat-nav-list>
