.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}

mat-toolbar {
  border-radius: 3px;
}

.menu-btn {
  margin-right: 10px;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0;
  }
}
